# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfplan
terraform/crash.log
terraform/crash.*.log

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
*.egg-info/
.eggs/
dist/
build/

# Env e segredos
# .env
# .env.local
terraform/terraform.tfvars

# Logs e temporários
*.log
.cache/
